.homepage {
    border: 30px double #4fc08d;
    color: #2c3e50;
    font: 18px sans-serif;
    margin: 30px;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
